nextflow.enable.dsl = 2
report {
    overwrite = true
}

profiles {
    k8s {

        workflow.failOnIgnore = true
	workDir = 's3://fabric-prod-nextflow-workdir'

	process {
	  executor = 'k8s'
	  container = '112118296049.dkr.ecr.us-west-2.amazonaws.com/pipeline/sentieon:202503'
	  scratch = '/mnt/tmp'
	  storeDir = 's3://fabric-prod-nextflow-workdir/cache'
	  // cpus = 45
	  //memory = '92 GB'
	  errorStrategy = 'ignore'
	  // time = '2h'
	  shell = '/usr/bin/wrapper.sh'
	  pod = [
	    [imagePullPolicy: 'Always'],
	    [env: 'SENTIEON_LICENSE', value: 'sentieon.fabricgenomics.com:8990'],
	    [volumeClaim: 'steven-dev-bucket-pvc', mountPath: '/steven.dev.bucket', readOnly: true],
	    [emptyDir: '', mountPath: '/mnt/tmp'],
	    [annotation: 'karpenter.sh/do-not-evict', value: 'true'],
	    [nodeSelector: [ 'eks.amazonaws.com/instance-local-nvme': '900' ]]

	  ]
	}

	k8s {
	  context = 'arn:aws:eks:us-west-2:112118296049:cluster/fabric-prod-eks'
	  namespace = 'nextflow'
	  serviceAccount = 'nextflow-sa'
	  storageClaimName = 'nextflow-workdir'
	  storageMountPath = '/fabric-prod-nextflow-workdir'
	}

	aws {
	 // region = 'us-west-2'
	  profile = 'prod'
	}


	tower {
	  enabled = true
	  accessToken = 'eyJ0aWQiOiAxMTM4Nn0uNDVlOWNiZTRmMzMyMmRiYjVlNTUyZWY4ZjQzZjc3Nzc1MzMwNDkzOQ=='
	  workspaceId = '132014174616136'
	}
    }

    local {
	process {
	  cpus = 8
	  memory = '16 GB'
	  time = '2h'
	}
	aws {
	  profile = 'prod'
	  region = 'us-west-2'
	}
    }

}
