// Kubernetes (EKS) profile for nf-sentieon-secondary pipeline

workflow.failOnIgnore = true

workDir = 's3://fabric-prod-nextflow-workdir'

process {
  executor = 'k8s'
  container = '112118296049.dkr.ecr.us-west-2.amazonaws.com/pipeline/sentieon:202503'
  scratch = '/mnt/tmp'
  storeDir = 's3://fabric-prod-nextflow-workdir/cache'
  errorStrategy = 'ignore'
  shell = '/usr/bin/wrapper.sh'

  // Uncomment to set resource limits
  // cpus = 45
  // memory = '92 GB'
  // time = '2h'

  pod = [
    [imagePullPolicy: 'Always'],
    [env: 'SENTIEON_LICENSE', value: 'sentieon.fabricgenomics.com:8990'],
    [volumeClaim: 'steven-dev-bucket-pvc', mountPath: '/steven.dev.bucket', readOnly: true],
    [emptyDir: '', mountPath: '/mnt/tmp'],
    [annotation: 'karpenter.sh/do-not-evict', value: 'true'],
    [nodeSelector: [ 'eks.amazonaws.com/instance-local-nvme': '900' ]]
  ]
}

k8s {
  context = 'arn:aws:eks:us-west-2:112118296049:cluster/fabric-prod-eks'
  namespace = 'nextflow'
  serviceAccount = 'nextflow-sa'
  storageClaimName = 'nextflow-workdir'
  storageMountPath = '/fabric-prod-nextflow-workdir'
}

aws {
  profile = 'prod'
}
